<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	<mvc:annotation-driven
		conversion-service="conversionService" />
	<context:component-scan
		base-package="fr.insee.whyd.web" />
	<mvc:default-servlet-handler />
	<mvc:interceptors>
		<bean
			id="userInterceptor"
			class="fr.insee.whyd.web.interceptor.UserInterceptor" />
	</mvc:interceptors>
	<mvc:resources
		mapping="/resources/**"
		location="/resources/" />
	<bean
		id="conversionService"
		class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="fr.insee.whyd.web.converters.UserConverter" />
			</set>
		</property>
	</bean>
	<bean
		id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property
			name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property
			name="prefix"
			value="/WEB-INF/jsp/" />
		<property
			name="suffix"
			value=".jsp" />
	</bean>
</beans>